<nav>
<a href="/">Home Page</a>
<% if (user) { %>
  <a href="/auth/sign-out">Sign Out</a>
  <a href="/recipes">My recipes</a>
  <a href="/ingredients">ingredients</a>

  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>


</nav>